<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .logo img {
            max-width: 30%;
            height: auto;
            border-radius: 50%;
        }
        .logo-name {
            text-align: center;
            margin-top: 10px;
            font-size: 1.5rem;
        }
        .logo-user {
            max-width: 10%;
            border-radius: 50%;
        }
        #refrech {
            margin-left: 170px;
        }
        #send {
            margin-right: 0rem;
        }

        .top-div, .bottom-div {
          width: 100%;
        }

    </style>
</head>
<body>

    <!-- Navbar Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo">
                </div>
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- Chat Messages -->
                <ul id="messages" class="list-group list-group-flush">

                    <li class="list-group-item disabled text-break" aria-disabled="true">What do you drink beer</li>
                    {% for message in messages %}
                        <li class="list-group-item d-flex align-items-baseline">
                            <div class="containerer">
                                <div class="top-div">
                                    <img src="{{ url_for('static', filename='logo.png') }}" class="logo-user mr-2" alt="Your Logo">
                                    <span class="small text-muted"><span style="color: red;"><strong>{{ message.comment_author.username }}</strong></span></span>
                                </div>
                                <span class="flex-grow-1 text-break">{{ message.content }}
                                    <span class="small text-muted">{{ message.timestamp.strftime('%H:%M:%S') }}</span>
                                </span>


                            </div>
                        </li>

                    {% endfor %}
                </ul>
                <!-- Chat Input Form -->
                {% if current_user.is_authenticated %}

                    <form action="{{ url_for('get_all_comments') }}" method="post" class="mt-3">
                        <div class="input-group">
                                <textarea name="comment" class="form-control text-break" rows="5" placeholder="Type your message..." autofocus></textarea>

                            <input type="hidden" name="timestamp" value="{{ current_timestamp }}">
                        </div>
                        <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="submit" id="send">Send</button>

                            <button type="button" class="btn btn-warning btn-sm position-relative" id="refrech" onclick="window.location.reload();">
                              Reload New Comments
                              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="message-count-badge">
                                ?
                              </span>
                            </button>
                        </div>
                    </form>
                {% else %}
                <br><br><br>
                        <a class="icon-link form-signin w-100 m-auto mt-3" href="{{ url_for('login') }}">
                          <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
                          Login to Comment
                        </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-3">
        <div class="container">
            <div class="logo-name">
                Samandari
            </div>
        </div>
    </footer>
</body>
</html>