<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>secrets</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <ol id="users" class="list-group list-group-flush">
        {% for user in users %}
                <li class="list-group-item enabled text-break" aria-disabled="true">
                    <strong>{{ user.username }}</strong>
                    <ul id="messages" class="list-group ">
                        {% for message in user.comments %}
                                <li class="list-group-item disabled text-break" aria-disabled="true">
                                    {{ message.content }}
                                </li>
                                <br>
                        {% endfor %}
                    </ul>
                </li>
        {% endfor %}
    </ol>
</body>
</html>